<div class="container mt-5">
<h1>Android App</h1> <br>

<p> Laden Sie sich unsere Android App herunter um auch unterwegs von Unterwegs alles im Blick zu haben. <br>
Die App ist für Android 7 Nougat oder höher konzipiert. <br>
Es gibt keine offizielle Version im Google Playstore.</p> 

<br>

<form method="get" action="/get-apk/download">
    <button type="submit" class="btn btn-success">Download (.apk)</button>
</form>
 

</div>